.projects-container {
  margin: 0 3rem 6rem;
  .header {
    font-size: 3rem;
  }
}

.project-card {
  max-width: 750px;
}

.projects-wrapper {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;

  .project-image {
    width: 100%;

    aspect-ratio: 1/1;
    transition: 0.2s ease-in-out;
    border-radius: 1rem;
  }
  .project-image-container {
    border-radius: 1rem;
    overflow: hidden;
  }

  .project-title {
    font-size: 1.2rem;
    margin-bottom: 0s;
  }

  .project-description {
    display: grid;
    // grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    justify-content: space-around;
    gap: 1rem;

    .project-tags {
      list-style: none;
      display: flex;
      gap: 1rem;
      .p-tag {
        color: #5a5a5a;
        font-size: 1rem;
      }
    }
    .project-links-container {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: flex-end;
      .project-link-icon {
        color: var(--raisin-black);
      }

      .project-link-icon:hover {
        color: #5a5a5a;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .projects-wrapper {
    grid-template-columns: 1fr;
  }
}
