.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
  .contact-heading {
    font-size: 3rem;
  }
  .social-icons {
    display: flex;
    gap: 2rem;
  }

  .social-icon {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 580px) {
  .contact-container {
    margin-inline: 1rem;
  }
}
