.header-container {
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 1px solid var(--raisin-black);
  // background-color: var(--page-bg);
  width: calc(100%);
  // backdrop-filter: blur(10px);
  .header-logo {
    background-color: var(--raisin-black);
    width: 3.4rem;
    height: 3.4rem;
    padding: 0.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      font-size: 2rem;
      color: var(--page-bg);
      .header-logo-firstname {
        font-weight: bolder;
      }
    }
  }

  .navbar {
    .navbar-links {
      display: flex;
      gap: 30px;
      list-style: none;
      justify-content: center;
      align-items: center;

      .nav-item-link {
        text-decoration: none;
        color: var(--raisin-black);
        font-size: 1rem;
        position: relative;
        padding: 0 0.5rem;
      }
      .nav-item-link:hover {
        // color: var(--blue-sapphire);
        font-weight: bold;
      }
      .nav-item-link::after {
        content: '';
        position: absolute;
        background-color: var(--raisin-black);
        height: 0.125rem;
        width: 0;
        left: 0;
        bottom: -0.125rem;
        transition: 0.3s;
      }
      .nav-item-link:hover::after {
        width: 100%;
      }
    }
  }
}

.header-logo::before {
  position: absolute;
  content: '';
  border: 0.18rem solid var(--raisin-black);
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
}

.nav-burger-menu {
  display: none;
}
@media (max-width: 760px) {
  .header-container {
    margin: 1rem;
    max-width: calc(100% - 2rem);
  }
  .navbar-links li:not(:last-child) {
    display: none;
  }
  .nav-burger-menu {
    display: block;
    .menu-icon-link {
      color: var(--raisin-black);
    }
  }
}

@media (min-width: 2000px) {
  .header-logo {
    a {
      font-size: 4rem !important;
    }
  }
  .nav-item-link {
    font-size: 2rem !important;
  }
}
